body {
    background: url('../img/background.jpg') no-repeat center center fixed; /* Fondo de la web */
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.fuente {
    font-size: 50px;
    color: rgb(14, 23, 32);
    margin-top: 100px;
}

.dinero {
    color: blueviolet;
    margin-top: 10px;
}

.foto {
    margin-left: 100px;
    margin-top: 100px;
}

.margen1 {
    margin-top: 10px;
}

.img-fluid {
    max-width: 80%; /* Reduce el tamaño de la imagen */
    height: auto;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.historia {
    text-align: left; /* Alinea el texto a la izquierda */
    font-size: 1.2rem; /* Aumenta el tamaño del texto */
    line-height: 1.8; /* Mejora el espaciado entre líneas */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para el texto */
    padding: 15px; /* Añade espacio interno al texto */
    border-radius: 10px; /* Bordes redondeados para el fondo */
}
